@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Light.eot");
  src: url("/fonts/Poppins-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/Poppins-Light.woff") format("woff"), url("/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Medium.eot");
  src: url("/fonts/Poppins-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/Poppins-Medium.woff") format("woff"), url("/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.eot");
  src: url("/fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto-Regular.woff") format("woff"), url("/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
/* Reset styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited, a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.container {
  margin: 0 auto;
  max-width: 1234px;
}

.title {
  color: #212121;
  font-family: Poppins, Roboto, Tahoma, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.description {
  color: #c5c5c5;
  font-family: Roboto, Poppins, Tahoma, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.link {
  opacity: 0.8;
  color: #414141;
  font-family: Poppins, Roboto, Tahoma, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.button {
  display: inline-block;
  padding: 0 20px;
  border-radius: 4px;
  background: #de3c3c;
  color: #fff;
  font-family: Poppins, Roboto, Tahoma, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.button:after {
  position: relative;
  top: 1px;
  content: url("../images/arrow-right.svg");
  height: 10px;
  width: 10px;
  margin-left: 5px;
}

.description {
  color: #c5c5c5;
  font-family: Roboto, Poppins, Tahoma, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.card {
  border-radius: 6px;
  border: 2px solid rgba(197, 197, 197, 0.15);
}

.header {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  width: 91px;
  height: 34px;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 36px;
  gap: 61px;
}
.header .button {
  padding-top: 8px;
  padding-bottom: 8px;
}

.create {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 114px;
  width: 1047px;
  margin: 146px auto 146px;
}
.create__image {
  width: 460px;
  height: 407px;
}
.create__title {
  margin-bottom: 12px;
}
.create__description {
  margin-bottom: 30px;
}
.create__button {
  padding-top: 12px;
  padding-bottom: 12px;
}

.quality {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 130px;
  margin-bottom: 308px;
  padding: 0 60px;
}
.quality__card {
  position: relative;
  width: 480px;
  height: 260px;
  padding-top: 55px;
  padding-left: 30px;
}
.quality__card_active {
  background: #de3c3c;
  border: none;
}
.quality__card_active .card__title {
  color: #FFF;
}
.quality__card_active .card__description {
  color: #FFF;
}
.quality__card_active:before {
  content: url("../images/oval-left.svg");
  position: absolute;
  left: 0;
  top: 0;
}
.quality__card_active::after {
  content: url("../images/oval-right.svg");
  position: absolute;
  right: 0;
  top: 0;
}
.quality__card_offset {
  top: 130px;
}
.quality__card .card__image {
  position: relative;
  width: 60px;
  height: 60px;
  z-index: 5;
  margin-bottom: 15px;
}
.quality__card .card__title {
  margin-bottom: 13px;
  font-size: 18px;
}