.header{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo{
    width: 91px;
    height: 34px;
  }

  &__menu{
    display: flex;
    align-items: center;
    height: 36px;
    gap:61px;
  }

  .button{
    padding-top: 8px;
    padding-bottom: 8px;

  }
}
