.quality {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 130px;
  margin-bottom: 308px;
  padding: 0 60px;

  &__card {
    position: relative;
    width: 480px;
    height: 260px;
    padding-top: 55px;
    padding-left: 30px;

    &_active {
      background: #de3c3c;
      border: none;

      & .card__title{
        color: #FFF;
      }

      & .card__description{
        color: #FFF;
      }

      &:before {
        content: url("../images/oval-left.svg");
        position: absolute;
        left: 0;
        top: 0;
      }

      &::after {
        content: url("../images/oval-right.svg");
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    &_offset{
      top: 130px;
    }



    .card {
      &__image {
        position: relative;
        width: 60px;
        height: 60px;
        z-index: 5;
        margin-bottom: 15px;
      }

      &__title{
        margin-bottom: 13px;
        font-size: 18px;
      }

    }
  }
}
