.quality {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 120px;
  margin-bottom: 308px;
  padding: 0 60px;

  &__card {
    position: relative;
    max-width: 480px;
    width: 100%;
    height: 260px;
    padding-top: 55px;
    padding-left: 30px;
    transition: all 0.7s ease-out;

    &:nth-child(even) {
      top: 130px;
    }

    &:before {
      content: url("../images/oval-left.svg");
      filter: opacity(0);
      transition: filter 0.4s ease-out;
      position: absolute;
      left: 0;
      top: 0;
    }

    &::after {
      content: url("../images/oval-right.svg");
      filter: opacity(0);
      transition: filter 0.4s ease-out;
      position: absolute;
      right: 0;
      top: 0;
    }

    &_active {
      background: #de3c3c;
      border: none;
      transition: all 0.4s ease-in;

      & .card__image {
        position: relative;
        z-index: 5;
      }

      & .card__title {
        color: #fff;
        transition: all 0.3s ease-in;
      }

      & .card__description {
        color: #fff;
        transition: all 0.3s ease-in;
      }

      &:before {
        filter: opacity(1);
        transition: filter 0.7s ease-in;
      }

      &::after {
        filter: opacity(1);
        transition: filter 0.7s ease-in;
      }
    }

    .card {
      &__image {
        width: 60px;
        height: 60px;
        margin-bottom: 15px;
        border-radius: 50%;
        background-color: #fff;
      }

      &__title {
        margin-bottom: 13px;
        font-size: 18px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .quality {
    padding: 0 15px;
    gap: 30px;

    .card {
      &:nth-child(even) {
        top: initial;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .quality {
    margin-bottom: 100px;
  }
}
